.box_content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'proxima-nova', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statement_question{
  font-size: 18px;
  margin-top: 48px;
}

.instruction{
  font-size: 20px;
  margin-top: 72px;
}

.buttons_box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9,158,136);
  color: #ffff;
  font-family: 'proxima-nova', sans-serif;
  font-size: 16px;
  height: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 24px;
  gap: 5px;
}

button:hover{
  background-color: rgb(84, 177, 163);
}

@media screen and (max-width: 600px){
  .statement_question, .instruction{
    padding: 12px;
  }

  .buttons_row {
    flex-direction: column;
  }
}



